# Ignore build-related directories
target/
bin/
build/
out/
dist/
logs/
build.log

# Ignore IDE-related files
.idea/
.settings/
.project
.classpath

# Ignore log files and other temporary files
*.log
*.log.*
*.tmp
*.iml

# Ignore compiled bytecode files
*.class

# Ignore Maven-specific files
target/
pom.xml.*
pom.properties